.univer-cell-alert {
  width: auto;
  max-width: 400px;
  white-space: pre;
  border: 1px solid #454545;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.univer-cell-alert:has(.hide-title) {
  padding: 4px;
}

.univer-cell-alert-title {
  font-weight: bold;
}

.univer-cell-alert-title:has(.hide-title) {
  display: none;
}

.univer-cell-alert-content {
  background-color: #F8F8F8;
  font-family: "Consolas", "Courier New", monospace;
  overflow-x: auto;
  padding: 8px 8px 0 8px;
}
